<body>
  <div class="main" style="align: center;">
    <div class="main-code code">
<!-- Document Search Functions START -->
      <h2>Support Docs and Tickets Search</h2>
      <p><strong>JIRA, SalesForce, Support Docs Search</strong></p>
      <fieldset>
        <legend><strong>Inputs</strong></legend>
        <p><strong>Search Term: </strong><input type="text" id="searchTerm" name="searchTerm" size="50"/></p>
        <br>
        <button class="main-button" onclick="supSearch()">Support Docs</button>
        <button class="main-button" onclick="sfSearch()">SalesForce</button>
        <button class="main-button" onclick="jiraSearch()">JIRA</button>

        <!-- Support Docs Search -->
        <script type=text/javascript>
        const supSearch = () => {
          const searchText = document.getElementById("searchTerm").value;
          if(searchText) {
            window.open(`https://support.brightcove.com/search?search=${searchText}`);
          }
          else {
            alert("Search Term Required");
          }
        }
        </script>

        <!-- SalesForce Case Search -->
        <script type=text/javascript>
        const sfSearch = () => {
          const searchText = document.getElementById("searchTerm").value;
          if(searchText) {
            window.open(`https://na20.salesforce.com/_ui/search/ui/UnifiedSearchResults?searchType=2&str=${searchText}`);
          }
          else {
            alert("Search Term Required");
          }
        }
        </script>

        <!-- JIRA Ticket Search -->
        <script type=text/javascript>
        const jiraSearch = () => {
          const searchText = document.getElementById("searchTerm").value;
          if(searchText) {
            window.open(`https://jira.brightcove.com/secure/QuickSearch.jspa?searchString=${searchText}`);
          }
          else {
            alert("Search Term Required");
          }
        }
        </script>
      </fieldset>
<!-- Document Search Functions END -->
      <br><br>
<!-- Account Tasks START -->
      <h2>Wacky and Jackie Pages Account Tasks</h2>
      <p><strong>Common Account Functions</strong></p>
      <fieldset>
        <legend><strong>Inputs</strong></legend>
        <p><strong>Acct ID: &nbsp;&nbsp;</strong><input type="text" id="account" name="account" size="50"/></p>
        <p><strong>Video ID: </strong><input type="text" id="video" name="video" size="50"/></p>
        <br>
        <button class="main-button" onclick="legAccount()">Account Lookup</button>
        <button class="main-button" onclick="legImp()">Impersonate User</button>
        <button class="main-button" onclick="listUsers()">List Users</button>
        <button class="main-button" onclick="legTitle()">Legacy Video Info</button>
        <button class="main-button" onclick="ddTitle()">DD Video Info</button>
        <button class="main-button" onclick="delVideo()">Deleted Videos</button>
        <button class="main-button" onclick="medSharing()">Media Sharing</button>
        <br><br>
        <button class="main-button" onclick="ddAccount()">DD Acct Config</button>
        <button class="main-button" onclick="ddIngest()">DD Ingest Jobs</button>
        <button class="main-button" onclick="audienceConf()">Audience Config</button>
        <button class="main-button" onclick="galleryConf()">Gallery Config</button>
        <button class="main-button" onclick="videoHistory()">Video Dist. History</button>
        <button class="main-button" onclick="bcLiveConf()">BC Live Config</button>
        <button class="main-button" onclick="setiConf()">SETI Config</button>
        <br>

        <!-- Account Lookup Function -->
        <script type="text/javascript">
        const legAccount = () => {
          const acctVariable = document.getElementById("account").value;
          if(acctVariable) {
            window.open(`https://services.brightcove.com/services/internal/mvc/account/search?term=${acctVariable}&settings=routeIngestRequestsToMannheim`);
          }
          else {
            alert("Publisher ID Required");
          }
        }
        </script>

        <!-- Impersonate User Function -->
        <script type="text/javascript">
        const legImp = () => {
          const acctVariable = document.getElementById("account").value;
          if(acctVariable) {
            window.open(`https://services.brightcove.com/services/internal/mvc/user/search?userQuery=${acctVariable}`);
          }
          else {
            alert("Publisher ID Required");
          }
        }
        </script>

        <!-- List Users Function -->
        <script type="text/javascript">
        const listUsers = () => {
          const acctVariable = document.getElementById("account").value;
          if(acctVariable) {
            window.open(`https://jsp.brightcove.com/accounts/account-users?account=${acctVariable}`);
          }
          else {
            alert("Publisher ID Required");
          }
        }
        </script>

        <!-- Legacy List Title Function -->
        <script type="text/javascript">
        const legTitle = () => {
          const videoVariable = document.getElementById("video").value;
          if(videoVariable) {
            window.open(`https://services.brightcove.com/services/internal/browser/listPubVideo.jsp?id=${videoVariable}&SUBMIT=SUBMIT`);
          }
          else {
            alert("Publisher ID Required");
          }
        }
        </script>

        <!-- DD List Title Function -->
        <script type="text/javascript">
        const ddTitle = () => {
          const acctVariable = document.getElementById("account").value;
          const videoVariable = document.getElementById("video").value;
          if(acctVariable && videoVariable) {
            window.open(`https://jsp.brightcove.com/catalog/video?accountId=${acctVariable}&videoId=${videoVariable}`);
          }
          else {
            alert("Publisher ID and Video ID Required");
          }
        }
        </script>

        <!-- Deleted Videos Function -->
        <script type="text/javascript">
        const delVideo = () => {
          const acctVariable = document.getElementById("account").value;
          const videoVariable = document.getElementById("video").value;
          if(acctVariable || acctVariable && videoVariable) {
            window.open(`https://jsp.brightcove.com/catalog/video_deleted?accountId=${acctVariable}&videoId=${videoVariable}`);
          }
          else {
            alert("Publisher ID or Publisher and Video ID Required");
          }
        }
        </script>

        <!-- Media Sharing Function -->
        <script type="text/javascript">
        const medSharing = () => {
          const acctVariable = document.getElementById("account").value;
          if(acctVariable) {
            window.open(`https://jsp.brightcove.com/catalog/sharing?accountId=${acctVariable}`);
          }
          else {
            alert("Publisher ID Required");
          }
        }
        </script>

        <!-- DD Account Config Function -->
        <script type="text/javascript">
        const ddAccount = () => {
          const acctVariable = document.getElementById("account").value;
          if(acctVariable) {
            window.open(`https://jsp.brightcove.com/dynamic-delivery/account-info?accountId=${acctVariable}`);
          }
          else {
            alert("Publisher ID Required");
          }
        }
        </script>

        <!-- DD Ingest Jobs Function -->
        <script type="text/javascript">
        const ddIngest = () => {
          const acctVariable = document.getElementById("account").value;
          if(acctVariable) {
            window.open(`https://jsp.brightcove.com/dynamic-delivery/account-ingests?accountId=${acctVariable}`);
          }
          else {
            alert("Publisher ID Required");
          }
        }
        </script>

        <!-- Audience Config Function -->
        <script type="text/javascript">
        const audienceConf = () => {
          const acctVariable = document.getElementById("account").value;
          if(acctVariable) {
            window.open(`https://jsp.brightcove.com/audience/accounts?accountId=${acctVariable}`);
          }
          else {
            alert("Publisher ID Required");
          }
        }
        </script>

        <!-- Gallery Config Function -->
        <script type="text/javascript">
        const galleryConf = () => {
          const acctVariable = document.getElementById("account").value;
          if(acctVariable) {
            window.open(`https://jsp.brightcove.com/experiences/accounts?accountId=${acctVariable}`);
          }
          else {
            alert("Publisher ID Required");
          }
        }
        </script>

        <!-- Video Distribution History Function -->
        <script type="text/javascript">
        const videoHistory = () => {
          const videoVariable = document.getElementById("video").value;
          if(videoVariable) {
            window.open(`https://jsp.brightcove.com/social/video-history?videoId=${videoVariable}`);
          }
          else {
            alert("Video ID Required");
          }
        }
        </script>

        <!-- BC Live Config Function -->
        <script type="text/javascript">
        const bcLiveConf = () => {
          const acctVariable = document.getElementById("account").value;
          if(acctVariable) {
            window.open(`https://jsp.brightcove.com/live/account-details?liveAccountId=${acctVariable}`);
          }
          else {
            alert("Publisher ID Required");
          }
        }
        </script>

        <!-- SETI Config Function -->
        <script type="text/javascript">
        const setiConf = () => {
          const acctVariable = document.getElementById("account").value;
          if(acctVariable) {
            window.open(`https://jsp.brightcove.com/seti/account?accountID=${acctVariable}&setiPath=`);
          }
          else {
            alert("Publisher ID Required");
          }
        }
        </script>
      </fieldset>
<!-- Account Tasks END -->

      <br><br>
<!-- Standalone Player Testing START -->
      <h2>Standalone Player Testing</h2>
      <p><strong>Builds Player in New Tab</strong></p>
      <fieldset>
        <legend><strong>Inputs</strong></legend>
        <p><strong>Account ID: </strong><input type="text" id="acctId" name="account" size="50"/></p>
        <p><strong>Player ID: &nbsp;&nbsp;</strong><input type="text" id="playerId" name="player" size="50"/></p>
        <p><strong>Video ID: &nbsp;</strong><input type="text" id="vidId" name="video" size="50"/></p>
        <br>
        <button class="main-button" onclick="iframeLoad()">iFrame Embed</button>
        <button class="main-button" onclick="advancedLoad()">Advanced Embed</button>
        <button class="main-button" onclick="playerConfig()">Player Configuration</button>

        <!-- iFrame Embed Build -->
        <script type="text/javascript">
        const iframeLoad = () => {
          const acctVariable = document.getElementById("acctId").value;
          const playerVariable = document.getElementById("playerId").value;
          const videoVariable = document.getElementById("vidId").value;
          if(acctVariable && playerVariable && videoVariable) {
            var newWindow = window.open("https://cs1.brightcodes.net/jcefalo/acct_tool/standalone_iframe.html");
            newWindow.document.write(`<iframe src=//players.brightcove.net/${acctVariable}/${playerVariable}_default/index.html?videoId=${videoVariable} allowfullscreen webkitallowfullscreen mozallowfullscreen width=640 height=360></iframe>`);
          }
          else {
            alert("All Fields Are Required");
          }
        }
        </script>

        <!-- Advanced Embed Build -->
        <script type="text/javascript">
        const advancedLoad = () => {
          const acctVariable = document.getElementById("acctId").value;
          const playerVariable = document.getElementById("playerId").value;
          const videoVariable = document.getElementById("vidId").value;
          const videoEmbed = `<video data-video-id=${videoVariable} data-account=${acctVariable} data-player=${playerVariable} data-embed=default data-application-id class=video-js controls width=640 height=360></video>`;
          const scriptEmbed = document.createElement('script');
          scriptEmbed.src=`//players.brightcove.net/${acctVariable}/${playerVariable}_default/index.js`;

          if(acctVariable && playerVariable && videoVariable) {
            var newWindow = window.open("https://cs1.brightcodes.net/jcefalo/acct_tool/standalone_advanced.html");
            newWindow.document.write(videoEmbed);
            newWindow.document.body.appendChild(scriptEmbed);
          }
          else {
            alert("All Fields Are Required");
          }
        }
        </script>

        <!-- Player Config Build -->
        <script type="text/javascript">
        function playerConfig() {
          var acctVariable = document.getElementById("acctId").value;
          var playerVariable = document.getElementById("playerId").value;
          if(acctVariable && playerVariable) {
            var newWindow = window.open("https://players.brightcove.net/" + document.getElementById('acctId').value + "/" + document.getElementById('playerId').value + "_default/config.json");
          }
          else {
            alert("Publisher ID & Player ID Required");
          }
        }
        </script>
      </fieldset>
<!-- Standalone Player Testing END -->
      <br><br>
<!-- Obtain Client Creds token input START -->
      <form id="accessTokenForm">
      <h2>Obtain Bearer Token via Client Credentials</h2>
      <p><strong>Upon Input, Will Return Access Token</strong></p>
      <fieldset>
        <legend><strong>Inputs</strong></legend>
        <p><strong>Client ID: &nbsp;&nbsp;</strong><input id="clientId" type="text" size="65" /></p>
        <p><strong>Client Secret: </strong><input id="clientSecret" type="text" size="65" /></p>
        <br>
        <p><button id="accessTokenButton" class="main-button" type="submit">Get Access Token</button></p>
      </fieldset>
      </form>
<!-- Client Creds token input END -->
      <br>
<!-- Client Creds token output START -->
      <fieldset>
        <legend><strong>Output</strong></legend>
        <h3>Access token</h3>
        <textarea name="accessToken" id="accessToken" class="main-code">Access token will appear here...</textarea>
      </fieldset>
<!-- Client Creds token output END -->

<!-- API SECTION -->
<!-- UNDER CONSTRUCTION -->
      <br><br>
<!-- API Request input START -->
    <form id="apiRequestForm">
      <div class="form-wrapper">
        <h2>Brightcove API Section</h2>
        <p><strong>Make Various API Requests</strong></p>
      <fieldset>
        <legend><strong>Inputs</strong></legend>
          <p><strong>Bearer Token: </strong>
            <input type="text" id="bearer_id" name="bearer_id" size="65"/>
          </p>

          <p id="sideElements"><strong>Request Type: </strong>
            <select name="requestType" id="requestType">
              <option class="defaultWhite" value="" selected>- Select -</option>
              <option class="getGreen">GET</option>
              <option class="postBlue">POST</option>
              <option class="putPurple">PUT</option>
              <option class="patchOrange">PATCH</option>
              <option class="delPink">DELETE</option>
            </select>
          </p>

          <script type="text/javascript">
          function documentReady() {
            var selectedItem = $('#requestType :selected');
            $('#requestType').css('backgroundColor', selectedItem.css('backgroundColor'));
            $('#requestType').change(function() {
              var selectedItem = $(this).find("option:selected");
              $(this).css('backgroundColor', selectedItem.css('backgroundColor'));
            });
          }
          jQuery(document).ready(documentReady);
          </script>

          <p id="sideElements"><strong>API Base: </strong>
            <select name="apiBase" class="pathBase" id="apiBase">
              <option value="Any" class="any">Select API Base</option>
              <option value="https://analytics.api.brightcove.com/v1" class="analytics">Analytics</option>
              <option value="https://audience.api.brightcove.com/v1" class="audience">Audience</option>
              <option value="https://cms.api.brightcove.com/v1" class="cms">CMS</option>
              <option value="https://ingest.api.brightcove.com/v1" class="dynamicIngest">Dynamic Ingest</option>
              <option value="https://ingestion.api.brightcove.com/v1" class="ingest">Ingest Profiles</option>
              <option value="https://experiences.api.brightcove.com/v1" class="inPage">In-Page Experiences</option>
              <option value="https://edge.api.brightcove.com/playback/v1" class="playback">Playback</option>
              <option value="https://players.api.brightcove.com/v2" class="playerManage">Player Management</option>
              <option value="https://policy.api.brightcove.com/v1" class="policy">Policy</option>
            </select>
          </p>

          <p id="sideElements"><strong>API Path: </strong>
            <select name="apiPath" class="apiPath" id="apiPath">
              <option value="Any" class="any">Select API Path</option>
            </select>
          </p>

          <select id="pot">
            <option value="Any" class="analytics">Select API Path</option>
            <option value="/engagement/accounts/{account_id}" class="analytics">Get_Account_Engagement</option>
            <option value="/engagement/accounts/{account_id}/players/{player_id}" class="analytics">Get_Player_Engagement</option>
            <option value="/engagement/accounts/{account_id}/videos/{video_id}" class="analytics">Get_Video_Engagement</option>
            <option value="/data" class="analytics">Get_Analaytics_Report</option>
            <option value="/data/status" class="analytics">Get_Available_Date_Range</option>
            <option value="/alltime/accounts/{account_id}/videos/{video_id}" class="analytics">Get_Alltime_Video_Views</option>

            <option value="Any" class="audience">Select API Path</option>
            <option value="/accounts/{account_id}/leads" class="audience">Get_Leads</option>
            <option value="/accounts/{account_id}/view_events" class="audience">Get_View_Events</option>

            <option value="Any" class="cms">Select API Path</option>
            <option value="/accounts/{account_id}/videos" class="cms">Get_Videos</option>
            <option value=" " class="cms"> </option>

            <option value="Any" class="dynamicIngest">Select API Path</option>
            <option value="/accounts/{account_id}/videos/{video_id}/ingest-requests" class="dynamicIngest">Post_Ingest_Videos_and_Assets</option>
            <option value="/accounts/{account_id}/videos/{video_id}/upload-urls/{source_name}" class="dynamicIngest">Get_Temporary_S3_URLs_To_Upload_Videos</option>

            <option value="Any" class="ingest">Select API Path</option>
            <option value="/accounts/{account_id}/configuration" class="ingest">Get_Default_Profile</option>
            <option value="/accounts/{account_id}/configuration" class="ingest">Put_Update_Default_Profile</option>
            <option value="/accounts/{account_id}/configuration" class="ingest">Post_Set_Default_Profile</option>
            <option value="/accounts/{account_id}/profiles" class="ingest">Get_All_Ingest_Profiles</option>
            <option value="/accounts/{account_id}/profiles" class="ingest">Post_Create_Ingest_Profile</option>
            <option value="/accounts/{account_id}/profiles/{profile_id}" class="ingest">Get_Ingest_Profile</option>
            <option value="/accounts/{account_id}/profiles/{profile_id}" class="ingest">Put_Update_Ingest_Profile</option>
            <option value="/accounts/{account_id}/profiles/{profile_id}" class="ingest">Delete_Ingest_Profile</option>

            <option value="/accounts/{account_id}/experiences" class="inPage">Get_In-Page_Experiences</option>
            <option value="/accounts/{account_id}/experiences" class="inPage">Post_Create_In-Page_Experience</option>
            <option value="/accounts/{account_id}/experiences/{experience_id}" class="inPage">Get_In-Page_Experience</option>
            <option value="/accounts/{account_id}/experiences/{experience_id}" class="inPage">Put_Update_In-Page_Experience</option>
            <option value="/accounts/{account_id}/experiences/{experience_id}" class="inPage">Delete_In-Page_Experience</option>
            <option value="/accounts/{account_id}/experiences/{experience_id}/actions/publish" class="inPage">Post_Publish_In-Page_Experience</option>
            <option value="/accounts/{account_id}/experiences/{experience_id}/actions/unpublish" class="inPage">Post_Unpublish_In-Page_Experience</option>
            <option value="/accounts/{account_id}/experiences/{experience_id}/actions/duplicate" class="inPage">Post_Duplicate_In-Page_Experience</option>
            <option value="/accounts/{account_id}/experiences/{experience_id}/live/status" class="inPage">Get_In-Page_Experience_Live_Status</option>
            <option value="/accounts/{account_id}/experiences/{experience_id}/live/status" class="inPage">Put_Set_In-Page_Experience_Live_Status</option>
            <option value="/accounts/{account_id}/templates" class="inPage">Get_Templates</option>
            <option value="/accounts/{account_id}/templates/{template_id}" class="inPage">Get_Template</option>
            <option value="/accounts/{account_id}/themes" class="inPage">Get_Themes</option>
            <option value="/accounts/{account_id}/themes" class="inPage">Post_Create_Theme</option>
            <option value="/accounts/{account_id}/themes/{theme_id}" class="inPage">Get_Theme</option>
            <option value="/accounts/{account_id}/themes/{theme_id}" class="inPage">Put_Update_Theme</option>
            <option value="/accounts/{account_id}/themes/{theme_id}" class="inPage">Delete_Theme</option>
            <option value="/accounts/{account_id}/fonts" class="inPage">Get_Fonts</option>
            <option value="/accounts/{account_id}/fonts" class="inPage">Post_Create_Font</option>
            <option value="/accounts/{account_id}/fonts/{font_id}" class="inPage">Get_Font</option>
            <option value="/accounts/{account_id}/fonts/{font_id}" class="inPage">Put_Update_Font</option>
            <option value="/accounts/{account_id}/fonts/{font_id}" class="inPage">Delete_Font</option>



          </select>

          <!-- <select name="analyticsPath" class="apiPath path Analytics" id="pathAnalytics">
            <option value="" selected>- Select -</option>
            <option value="/engagement/accounts/{account_id}">Get_Account_Engagement</option>
            <option value="/engagement/accounts/{account_id}/players/{player_id}">Get_Player_Engagement</option>
            <option value="/engagement/accounts/{account_id}/videos/{video_id}">Get_Video_Engagement</option>
            <option value="/data">Get_Analaytics_Report</option>
            <option value="/data/status">Get_Available_Date_Range</option>
            <option value="/alltime/accounts/{account_id}/videos/{video_id}">Get_Alltime_Video_Views</option>
          </select>

          <select name="audiencePath" class="apiPath path Audience" id="pathAudience">
            <option value="" selected>- Select -</option>
            <option value="/accounts/{account_id}/leads">Get_Leads</option>
            <option value="/accounts/{account_id}/view_events">Get_View_Events</option>
          </select> -->
          <!-- </p> -->


          <p><strong>API Request: </strong></p>
            <textarea id="apiRequest" name="apiRequest" class="main-code"></textarea>
          <p><strong>Call Body (JSON, Optional): <strong></p>
            <textarea name="apiBody" id="apiBody" class="main-code"></textarea>
          <br><br>
          <button class="main-button" id="apiRequestButton" type="submit">Submit</button>
        </fieldset>
      </form>

      <!-- Script to change/append API Base & Path URL -->
      <script type="text/javascript">
      $(function() {
        $("#apiBase").change(function() {
          var $select = $(this);
          $("#apiRequest").val(function() {
            var baseURL = $(this).prop('defaultValue') + $select.val();
            console.log($(this).prop('defaultValue') + $select.val());
            $(".apiPath").change(function() {
              var $select = $(this);
              $("#apiRequest").val(function() {
                var pathURL = $(this).prop('defaultValue') + $select.val();
                console.log($(this).prop('defaultValue') + $select.val());
                var fullRequest = baseURL + pathURL;
                return fullRequest;
              });
            });
          });
        });
      });
      </script>

      <!-- Script to change show API Path depending on API Base -->
      <script type="text/javascript">
      $('#apiBase').change(function() {
        // get the class of the selected option
        var select_class = $("option:selected", this).attr("class");
        // clone all options from the pot select
        var $options = $('#pot > option.'+select_class).clone();
        // delete all of the options in the apiPath select and append
        // the new options
        $('#apiPath')
        .find('option')
        .remove()
        .end()
        .append($options);
      });
    </script>

<!-- API Request input END -->
        <br>
<!-- API Request output START -->
        <fieldset>
          <legend><strong>Output</strong></legend>
          <p><strong>Response:</strong></p>
          <textarea name="apiResponse" id="apiResponse" class="main-code" style="width: 1031px; height:250px;">JSON Response will appear here...</textarea>
          <br>
        </fieldset>
      </div>
<!-- API Request output END -->
    <br><br>
</body>
